<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Family Signup</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link href="http://my.icanj.org/resources/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="http://my.icanj.org/resources/css/bootstrap-responsive.css" rel="stylesheet" media="screen">

</head>
<body>
 <div class="container-fluid">
 <div class="span9">
 <div class="header span8 offset2"></div>
<h3>Hi ${family.familyName}, welcome to my.icanj.org!</h3>

<div class="hero-unit familyName pull-left">
					<h2>${family.familyName} & Family</h2>
					<address class="float-right">
						<strong>Home Address</strong><br>
						${family.address.streetAddress}<br> ${family.address.city},
						${family.address.state}<br> <abbr title="Phone">P:</abbr>
						+1${family.homePhoneNumber}
					</address>
				<p>Email Info: ${family.emailAddress}	</p>
</div>
</div>
</div>
</body>

</html>